:host {
  .assign-row {
    display: flex;
    justify-content: space-between;
  }

  .save-button {
    border-radius: 4px;
  }

  .history-button {
    color: var(--pm-primary);
  }

  .state-row {
    nz-form-item {
      display: flex;
      align-items: center;
    }
  }

  .rich-text {
    display: block;
    width: 100%;
  }

  .bubble-rich-text:hover {
    border: 1px solid #ccc;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    padding-bottom: 12px;

    span {
      padding-right: 20px;
      font-size: 24px;
      line-height: 32px;
    }

    .description-buttons {
      nz-icon {
        color: var(--pm-primary);
      }
    }
  }

  .create-edit-input-form {
    border: none;
    height: 52px;
    border-radius: 10px;
  }

  .create-edit-input-form:hover {
    border: 1px solid var(--pm-primary);
  }

  .create-edit-select-form {
    .ant-select-selector {
      border: none;
      border-radius: 8px;
      height: 35px;

      .ant-select-selection-wrap {
        width: 120px;
      }
    }
  }
}
