<nz-spin [nzSpinning]="isLoading" [nzTip]="spinnerTip">
  <div class="container">
    <div class="header">
      <span>MBK Portal: PRJ-0001</span>
    </div>

    <div class="board" cdkDropListGroup #board>
      @for (column of columns; track column.state) {
      <div class="column" cdkDropList [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="onDrop($event, column.state)" [style.--column-color]="column.color">
        <h3>{{ column.label }}</h3>

        @for (task of column.tasks; track task.id) {
        <div class="task-board-task" cdkDrag (cdkDragMoved)="onDragMoved($event)" (cdkDragEnded)="onDragEnded()">
          <nz-card nzSize="small" nzHoverable>
            <nz-card-meta [nzTitle]="taskCardTitle" [nzDescription]="taskCardDescription"></nz-card-meta>
            <ng-template #taskCardTitle>
              <span>{{ task.taskIdNumber }} </span>
              <a class="task-name">{{ task.taskName }}</a>
            </ng-template>
            <ng-template #taskCardDescription>
              <nz-tag [nzColor]="task.stateColor">{{ task.stateLabel }}</nz-tag>
            </ng-template>
          </nz-card>
        </div>
        }
      </div>
      }
    </div>
  </div>
</nz-spin>
