<nz-spin [nzSpinning]="isLoading && !isLoading.closed" [nzTip]="SPINNER_TIP.LoggingYouIn">
  @if (hasError || showNotAuthAlert) {
    <nz-alert
      class="pm-alert"
      nzBanner
      nzShowIcon
      [nzCloseable]="showNotAuthAlert"
      [nzType]="alertDetails.type"
      [nzMessage]="alertDetails.message"
      [nzDescription]="alertDetails.description"
    ></nz-alert>
  }

  <nz-card>
    <form nz-form [formGroup]="loginForm" class="login-form">
      <h1 class="login-heading">Login to Your Account</h1>
      <nz-form-item>
        <nz-form-control>
          <nz-input-wrapper>
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="Email"
              nzSize="large"
              appPopoverFormValidator
            />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-wrapper>
            <input
              nz-input
              formControlName="password"
              placeholder="Password"
              nzSize="large"
              type="password"
              appPopoverFormValidator
            />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button"
        [nzType]="'primary'"
        nzSize="large"
        nzShape="round"
        (click)="login()"
        [disabled]="loginForm.invalid"
      >
        Log in
      </button>
      <div class="link-texts">
        <span nz-typography>
          <a href="/login" target="_blank">Forgot Password?</a>
        </span>
        <span nz-typography>
          <a routerLink="/register">Register</a>
        </span>
      </div>
    </form>
  </nz-card>
</nz-spin>
