<nz-spin [nzSpinning]="isLoading" [nzTip]="'loading dashboard...'">
  <div class="container">
    <div class="header">
      <span>Dashboard</span>
      <button nz-button nzShape="round" nzType="primary">Add New Project</button>
    </div>

    <div class="content">
      <div class="data-contents">
        <app-dashboard-active-projects [totalActiveProjects]="activeProjectsCount"
          [projectsInProgress]="activeProjects"></app-dashboard-active-projects>
        <app-dashboard-upcoming-deadlines
          [upcomingProjectsDeadline]="upcomingProjects"></app-dashboard-upcoming-deadlines>
        <app-dashboard-task-completed></app-dashboard-task-completed>
      </div>

      <app-dashboard-quick-access></app-dashboard-quick-access>
    </div>
  </div>
</nz-spin>
