:host {
  .container {
    .header {
      font-size: 24px;
      line-height: 32px;
      display: flex;
      justify-content: space-between;

      button {
        height: 36px;
        text-align: center;
      }
    }

    .content {
      padding-top: 34px;

      nz-row {
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;

        .upcoming-deadlines-col {
          padding-right: 15px;
          padding-left: 15px;
        }

        nz-col {
          &:first-child {
            padding-right: 30px;
          }
          &:last-child {
            padding-left: 30px;
          }
        }
      }
    }
  }
}
