<nz-spin [nzSpinning]="isLoading" [nzTip]="'loading dashboard...'">
  <div class="container">
    <div class="header">
      <span>Dashboard</span>
      <button nz-button nzShape="round" nzType="primary" (click)="addNewProject()">Add New Project</button>
    </div>

    <div class="content">
      <nz-row>
        <nz-col nzSpan="8">
          <app-dashboard-active-projects [totalActiveProjects]="activeProjectsCount"
            [projectsInProgress]="activeProjects"></app-dashboard-active-projects>
        </nz-col>
        <nz-col nzSpan="8" class="upcoming-deadlines-col">
          <app-dashboard-upcoming-deadlines
            [upcomingProjectsDeadline]="upcomingProjects"></app-dashboard-upcoming-deadlines>
        </nz-col>
        <nz-col nzSpan="8">
          <app-dashboard-task-completed
            [projectTasksCompleted]="tasksCompletedByProject"></app-dashboard-task-completed>
        </nz-col>
      </nz-row>
      <app-dashboard-quick-access></app-dashboard-quick-access>
    </div>
  </div>
</nz-spin>
