<div [formGroup]="taskDetailForm()">
  <nz-row class="details-row">
    <nz-col [nzSpan]="richTextSpan">
      @if (!hideDescription) {
      <div class="col-header">
        <span>Description</span>
        <div class="description-buttons">
          @if (richTextSpan === 13) {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', true)">
            <nz-icon nzType="expand-alt" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', false)">
            <nz-icon nzType="shrink" nzTheme="outline" />
          </button>
          }
          @if (!hideDescriptionRichText) {
          <button nz-button nzSize="default" nzType="link" (click)="hideDescriptionRichText=true">
            <nz-icon nzType="up" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="hideDescriptionRichText=false">
            <nz-icon nzType="down" nzTheme="outline" />
          </button>
          }
        </div>
      </div>
      @if (!hideDescriptionRichText) {
      <nz-form-item>
        <nz-form-control>
          @if (showDescriptionRichText) {
          <quill-editor #descriptionRef class="rich-text"
            [class]="descriptionTheme === 'bubble' ? 'bubble-rich-text' : ''" formControlName="description"
            [modules]="descriptionQuillmodules" [theme]="descriptionTheme" placeholder="description..."
            (onFocus)="handleInputFocusBlur('description', true)" (onBlur)="handleInputFocusBlur('description')"
            (onEditorCreated)="onEditorCreated($event)">
          </quill-editor>
          }
        </nz-form-control>
      </nz-form-item>
      }
      }

      @if (!hideacceptanceCriteria) {
      <div class="col-header">
        <span>Acceptance Criteria</span>
        <div class="description-buttons">
          @if (richTextSpan === 13) {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('acceptanceCriteria', true)">
            <nz-icon nzType="expand-alt" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('acceptanceCriteria', false)">
            <nz-icon nzType="shrink" nzTheme="outline" />
          </button>
          }
          @if (!hideacceptanceCriteriaRichText) {
          <button nz-button nzSize="default" nzType="link" (click)="hideacceptanceCriteriaRichText=true">
            <nz-icon nzType="up" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="hideacceptanceCriteriaRichText=false">
            <nz-icon nzType="down" nzTheme="outline" />
          </button>
          }
        </div>
      </div>
      @if (!hideacceptanceCriteriaRichText) {
      <nz-form-item>
        <nz-form-control>
          @if (showAcceptanceCriteriaRichText) {
          <quill-editor #acceptanceCriteriaRef class="rich-text"
            [class]="acceptanceCriteriaTheme === 'bubble' ? 'bubble-rich-text' : ''"
            formControlName="acceptanceCriteria" [modules]="acceptanceCriteriaQuillmodules"
            [theme]="acceptanceCriteriaTheme" placeholder="acceptance criteria..."
            (onFocus)="handleInputFocusBlur('acceptanceCriteria', true)"
            (onBlur)="handleInputFocusBlur('acceptanceCriteria')" (onEditorCreated)="onEditorCreated($event)">
          </quill-editor>
          }
        </nz-form-control>
      </nz-form-item>
      }
      }
    </nz-col>
    @if (!hideOtherCol) {
    <nz-col nzSpan="5">
      <div class="col-header">
        <span>Planning</span>
      </div>
      <nz-form-item>
        <nz-form-label>Task Points</nz-form-label>
        <nz-form-control>
          <nz-input-wrapper>
            <input [class]="hoverdInputs.taskPoints ? 'portal-input-form' : 'create-edit-input-form'" type="text"
              nz-input formControlName="taskPoints" nzSize="large" appPopoverFormValidator
              (focus)="handleInputFocusBlur('taskPoints', true)" (blur)="handleInputFocusBlur('taskPoints')" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Ready For Development Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker
            [class]="hoverdInputs.readyForDevelopmentDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="readyForDevelopmentDate" nzFormat="MMM dd, yyyy"
            (focus)="handleInputFocusBlur('readyForDevelopmentDate', true)"
            (blur)="handleInputFocusBlur('readyForDevelopmentDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Done Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker [class]="hoverdInputs.doneDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="doneDate" nzFormat="MMM dd, yyyy" (focus)="handleInputFocusBlur('doneDate', true)"
            (blur)="handleInputFocusBlur('doneDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="5">
      <div class="col-header">
        <span>Testing</span>
      </div>
      <nz-form-item>
        <nz-form-label>Testing Start Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker [class]="hoverdInputs.testingStartDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="testingStartDate" nzFormat="MMM dd, yyyy"
            (focus)="handleInputFocusBlur('testingStartDate', true)"
            (blur)="handleInputFocusBlur('testingStartDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Testing End Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker [class]="hoverdInputs.testingEndDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="testingEndDate" nzFormat="MMM dd, yyyy"
            (focus)="handleInputFocusBlur('testingEndDate', true)"
            (blur)="handleInputFocusBlur('testingEndDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    }
  </nz-row>

  @if (!hideDiscussionRow && taskId()) {
  <nz-row class="discussion-row">
    <nz-col [nzSpan]="discussionSpan">
      <div class="col-header">
        <span>Discussion</span>
        <div class="description-buttons">
          @if (discussionSpan === 13) {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', true, true)">
            <nz-icon nzType="expand-alt" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', false, true)">
            <nz-icon nzType="shrink" nzTheme="outline" />
          </button>
          }
          @if (!hideDiscussionCol) {
          <button nz-button nzSize="default" nzType="link" (click)="hideDiscussionCol=true">
            <nz-icon nzType="up" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="hideDiscussionCol=false">
            <nz-icon nzType="down" nzTheme="outline" />
          </button>
          }
        </div>
      </div>

      @if (!hideDiscussionCol) {
      <nz-spin [nzSpinning]="isCommentsLoading" [nzTip]="commentsSpinnerTip">
        <app-error-alert [error]="catchError"></app-error-alert>

        <form nz-form [formGroup]="createTaskCommentForm">
          <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="/src/app/assets/images/profile-default.svg"></nz-avatar>
            <nz-comment-content>
              <nz-form-item>
                <textarea nz-input rows="4" formControlName="content"></textarea>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" (click)="addComment()">
                  Add Comment
                </button>
              </nz-form-item>
            </nz-comment-content>
          </nz-comment>
        </form>
        @for (comment of taskComments; track comment.id) {
        <nz-card class="comments-card">
          <nz-comment [nzAuthor]="comment.user.name" [nzDatetime]="comment.displayTime">
            <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="/src/app/assets/images/profile-default.svg"></nz-avatar>
            <nz-comment-content>
              <p>
                {{ comment.content }}
              </p>
            </nz-comment-content>
            <nz-comment-action>
              <nz-icon nz-tooltip nzTooltipTitle="Like" nzType="like" />
              <span class="count like">1</span>
            </nz-comment-action>
            <nz-comment-action>
              <nz-icon nz-tooltip nzTooltipTitle="Dislike" nzType="dislike" />
              <span class="count dislike">0</span>
            </nz-comment-action>
          </nz-comment>
        </nz-card>
        }
      </nz-spin>
      }
    </nz-col>
  </nz-row>
  }
</div>
