<div [formGroup]="taskDetailForm()">
  <nz-row class="details-row">
    <nz-col [nzSpan]="richTextSpan">
      @if (!hideDescription) {
      <div class="col-header">
        <span>Description</span>
        <div class="description-buttons">
          @if (richTextSpan === 13) {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', true)">
            <nz-icon nzType="expand-alt" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', false)">
            <nz-icon nzType="shrink" nzTheme="outline" />
          </button>
          }
          @if (!hideDescriptionRichText) {
          <button nz-button nzSize="default" nzType="link" (click)="hideDescriptionRichText=true">
            <nz-icon nzType="up" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="hideDescriptionRichText=false">
            <nz-icon nzType="down" nzTheme="outline" />
          </button>
          }
        </div>
      </div>
      @if (!hideDescriptionRichText) {
      <nz-form-item>
        <nz-form-control>
          @if (showDescriptionRichText) {
          <quill-editor #descriptionRef class="rich-text"
            [class]="descriptionTheme === 'bubble' ? 'bubble-rich-text' : ''" formControlName="description"
            [modules]="descriptionQuillmodules" [theme]="descriptionTheme" placeholder="description..."
            (onFocus)="onInputFocus('description')" (onBlur)="onInputBlur('description')"
            (onEditorCreated)="onEditorCreated($event)">
          </quill-editor>
          }
        </nz-form-control>
      </nz-form-item>
      }
      }

      @if (!hideacceptanceCriteria) {
      <div class="col-header">
        <span>Acceptance Criteria</span>
        <div class="description-buttons">
          @if (richTextSpan === 13) {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('acceptanceCriteria', true)">
            <nz-icon nzType="expand-alt" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('acceptanceCriteria', false)">
            <nz-icon nzType="shrink" nzTheme="outline" />
          </button>
          }
          @if (!hideacceptanceCriteriaRichText) {
          <button nz-button nzSize="default" nzType="link" (click)="hideacceptanceCriteriaRichText=true">
            <nz-icon nzType="up" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="hideacceptanceCriteriaRichText=false">
            <nz-icon nzType="down" nzTheme="outline" />
          </button>
          }
        </div>
      </div>
      @if (!hideacceptanceCriteriaRichText) {
      <nz-form-item>
        <nz-form-control>
          @if (showAcceptanceCriteriaRichText) {
          <quill-editor #acceptanceCriteriaRef class="rich-text"
            [class]="acceptanceCriteriaTheme === 'bubble' ? 'bubble-rich-text' : ''"
            formControlName="acceptanceCriteria" [modules]="acceptanceCriteriaQuillmodules"
            [theme]="acceptanceCriteriaTheme" placeholder="acceptance criteria..."
            (onFocus)="onInputFocus('acceptanceCriteria')" (onBlur)="onInputBlur('acceptanceCriteria')"
            (onEditorCreated)="onEditorCreated($event)">
          </quill-editor>
          }
        </nz-form-control>
      </nz-form-item>
      }
      }
    </nz-col>
    @if (!hideOtherCol) {
    <nz-col nzSpan="5">
      <div class="col-header">
        <span>Planning</span>
      </div>
      <nz-form-item>
        <nz-form-label>Task Points</nz-form-label>
        <nz-form-control>
          <nz-input-wrapper>
            <input [class]="hoverdInputs.taskPoints ? 'portal-input-form' : 'create-edit-input-form'" type="text"
              nz-input formControlName="taskPoints" nzSize="large" appPopoverFormValidator
              (focus)="onInputFocus('taskPoints')" (blur)="onInputBlur('taskPoints')" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Ready For Development Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker
            [class]="hoverdInputs.readyForDevelopmentDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="readyForDevelopmentDate" nzFormat="MMM dd, yyyy"
            (focus)="onInputFocus('readyForDevelopmentDate')"
            (blur)="onInputBlur('readyForDevelopmentDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Done Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker [class]="hoverdInputs.doneDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="doneDate" nzFormat="MMM dd, yyyy" (focus)="onInputFocus('doneDate')"
            (blur)="onInputBlur('doneDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="5">
      <div class="col-header">
        <span>Testing</span>
      </div>
      <nz-form-item>
        <nz-form-label>Testing Start Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker [class]="hoverdInputs.testingStartDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="testingStartDate" nzFormat="MMM dd, yyyy" (focus)="onInputFocus('testingStartDate')"
            (blur)="onInputBlur('testingStartDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Testing End Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker [class]="hoverdInputs.testingEndDate ? 'input-search' : 'create-edit-task-date-picker'"
            formControlName="testingEndDate" nzFormat="MMM dd, yyyy" (focus)="onInputFocus('testingEndDate')"
            (blur)="onInputBlur('testingEndDate')"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    }
  </nz-row>

  @if (!hideDiscussionRow) {
  <nz-row class="discussion-row">
    <nz-col [nzSpan]="discussionSpan">
      <div class="col-header">
        <span>Discussion</span>
        <div class="description-buttons">
          @if (discussionSpan === 13) {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', true, true)">
            <nz-icon nzType="expand-alt" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="expandMinimize('description', false, true)">
            <nz-icon nzType="shrink" nzTheme="outline" />
          </button>
          }
          @if (!hideDiscussionCol) {
          <button nz-button nzSize="default" nzType="link" (click)="hideDiscussionCol=true">
            <nz-icon nzType="up" nzTheme="outline" />
          </button>
          } @else {
          <button nz-button nzSize="default" nzType="link" (click)="hideDiscussionCol=false">
            <nz-icon nzType="down" nzTheme="outline" />
          </button>
          }
        </div>
      </div>

      @if (!hideDiscussionCol) {
      <nz-spin [nzSpinning]="isCommentsLoading" [nzTip]="commentsSpinnerTip">
        <form nz-form [formGroup]="createTaskCommentForm">
          <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user"
              [nzSrc]="'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'"></nz-avatar>
            <nz-comment-content>
              <nz-form-item>
                <textarea nz-input rows="4" formControlName="content"></textarea>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" (click)="addComment()">
                  Add Comment
                </button>
              </nz-form-item>
            </nz-comment-content>
          </nz-comment>
        </form>
        <nz-card>
          <nz-comment nzAuthor="Han Solo">
            <nz-avatar nz-comment-avatar nzIcon="user"
              nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            <nz-comment-content>
              <p>
                We supply a series of design principles, practical patterns and high quality design resources(Sketch and
                Axure), to help people create their product prototypes beautifully and efficiently.
              </p>
            </nz-comment-content>
            <nz-comment-action>
              <nz-icon nz-tooltip nzTooltipTitle="Like" nzType="like" />
              <span class="count like">1</span>
            </nz-comment-action>
            <nz-comment-action>
              <nz-icon nz-tooltip nzTooltipTitle="Dislike" nzType="dislike" />
              <span class="count dislike">0</span>
            </nz-comment-action>
          </nz-comment>
        </nz-card>
      </nz-spin>
      }
    </nz-col>
  </nz-row>
  }
</div>
