<nz-layout class="layout-container">
  <nz-header class="header">
    <app-header></app-header>
  </nz-header>

  <nz-layout>
    <nz-sider nzWidth="256px" nzTheme="light" class="side-bar" [(nzCollapsed)]="isCollapsed">
      <div class="sidebar-items">
        <ul nz-menu class="sider-menu" nzMode="inline">
          @for (nav of navItem; track nav) {
            <li nz-menu-item class="sider-menu-item" (click)="navigate(nav.route)" [nzSelected]="nav.title === 'Dashboard'">
              <nz-icon [nzType]="nav.icon" nzTheme="outline" />
              <span>{{ nav.title }}</span>
            </li>
          }
        </ul>

        <div
          class="border-line"
          [ngClass]="isCollapsed ? 'border-line-collapse-close' : ''"
        ></div>
        <div
          class="collapse-button-container"
          [ngClass]="isCollapsed ? 'collapse-close' : ''"
        >
          <button nz-button nzType="primary" (click)="isCollapsed = !isCollapsed" nzSize="small">
            <nz-icon [nzType]="isCollapsed ? 'arrow-right' : 'arrow-left'" />
          </button>
        </div>
      </div>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content class="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
