:host {
  nz-card {
    width: 358px;
    height: 258px;
    background-color: var(--pm-secondary);
    border-radius: 24px;

    .card-title {
      font-size: 20px;
      line-height: 28px;
    }

    .total-active-projects {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }

    .chart-container {
      padding-top: 10px;
    }
  }
}
