<div class="filter-container">
  <form nz-form nzLayout="inline" [formGroup]="searchUserForm" (submit)="updateTable()">
    <nz-form-item>
      <nz-form-control>
        <nz-select class="select-search" nzSuffixIcon="company" formControlName="companyId" nzPlaceHolder="Select Company"
          [nzAllowClear]="true" nzShowSearch (nzOnSearch)="loadCompanies($event)" [nzFilterOption]="disableFilter">
          @for (company of companies; track company.value) {
          <nz-option nzCustomContent [nzLabel]="company.label" [nzValue]="company.value">
            <div class="assigned-to-options">
              <span class="user-name">{{ company.label }}</span>
              <!-- <span class="user-email"><i>{{ company.value }}</i></span> -->
            </div>
          </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-select class="select-search" formControlName="isApproved" nzPlaceHolder="Select Status"
          [nzAllowClear]="true" [nzOptions]="userStatusOptions">
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input class="input-search" nz-input formControlName="search" placeholder="Search" />
      </nz-form-control>
    </nz-form-item>
    <button class="reset-search-button" nz-button (click)="reset()">Reset</button>
    @if (isDeleted === 'N') {
    <button class="recycle-bin-button" nz-button nzType="link" (click)="recycleBin($event, 'Y')">
      <img alt="recycle-bin" src="/assets/icons/recycle-bin.svg" width="20" />
    </button>
    } @else {
    <button class="recycle-bin-button" nz-button nzType="link" (click)="recycleBin($event)">
      <nz-icon nzType="unordered-list" nzTheme="outline" />
    </button>
    }
  </form>
</div>

<div class="table-container">
  <nz-table #table class="table" nzTableLayout="fixed" [nzData]="dataList() || []" [nzShowPagination]="true"
    [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzShowTotal]="rangeTemplate"
    [nzPageSizeOptions]="[10, 20, 30, 40, 50]" [nzTotal]="dataTable().totalCount" [nzPageSize]="dataTable().pageSize"
    [nzLoading]="loading()" (nzQueryParams)="updateTable($event)">
    <thead>
      <tr>
        <th nzWidth="15%" [nzSortFn]="true" id="name" nzColumnKey="name">Name</th>
        <th nzWidth="15%" [nzSortFn]="true" id="email" nzColumnKey="email">Email</th>
        <th nzWidth="15%" id="company">Company</th>
        <th nzWidth="15%" id="role" nzAlign="center">Role</th>
        <th nzWidth="10%" id="isPublished" nzAlign="center">Status</th>
        <th nzWidth="15%" id="createdAt" nzAlign="center" [nzSortFn]="true" nzColumnKey="createdAt">Date Joined</th>
        <th nzWidth="10%" id="actions" nzAlign="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data.id) {
      <tr>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.company?.name }}</td>
        <td nzAlign="center">{{ data.role | userRole }}</td>
        <td nzAlign="center">
          @if (data.isApproved == "Y") {
          <nz-tag nzColor="success">Appoved</nz-tag>
          } @else
          {
          <nz-tag nzColor="warning">Pending</nz-tag>
          }
        </td>
        <td nzAlign="center">{{ data.createdAt | date : 'MMM dd, yyyy' }}</td>
        <td class="table-action-buttons" nzAlign="center">
          @if (isDeleted === 'N') {
          <button class="edit-button" nz-button nzType="link" (click)="edit(data.id)">
            <nz-icon nzType="edit" nzTheme="outline" />
          </button>
          } @else {
          <button class="restore-button" nz-button nzType="link" (click)="deleteRestoreProject(data.id, 'N')">
            <nz-icon nzType="undo" nzTheme="outline" />
          </button>
          }
          <nz-divider nzType="vertical"></nz-divider>
          @if (isDeleted === 'N') {
          <button class="delete-button" nz-button nzType="link" nzDanger (click)="deleteRestoreProject(data.id, 'Y')">
            <nz-icon nzType="delete" nzTheme="outline" />
          </button>
          } @else {
          <button class="delete-button" nz-button nzType="link" nzDanger>
            <nz-icon nzType="delete" nzTheme="outline" />
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>

<ng-template #rangeTemplate let-range="range" let-total>
  @if (total && dataList().length > 0) { Showing
  {{ (dataTable().page - 1) * dataTable().pageSize + 1 }}
  to
  {{ (dataTable().page - 1) * dataTable().pageSize + dataList().length }}
  of {{ total }}
  {{ total | i18nPlural : { '=1': 'project', other: 'projects' } }}
  } @else { Showing 0 of 0 projects }
</ng-template>
