:host {
  .filter-container {
    padding-top: 34px;
    display: flex;
    justify-content: end;

    .select-search {
      width: 170px;
    }

    .recycle-bin-button {
      width: 50px;

      nz-icon {
        color: var(--pm-primary);
      }
    }
  }

  .table-container {
    padding-top: 14px;

    nz-tag {
      font-weight: 500;
    }
  }
}
