<div class="table-container">
  <nz-table #table class="table" nzTableLayout="fixed" [nzData]="dataList() || []" [nzShowPagination]="true"
    [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzShowTotal]="rangeTemplate"
    [nzPageSizeOptions]="[10, 20, 30, 40, 50]" [nzTotal]="dataTable().totalCount" [nzPageSize]="dataTable().pageSize"
    [nzLoading]="loading()" (nzQueryParams)="updateTable($event)">
    <thead>
      <tr>
        <th nzWidth="15%" [nzSortFn]="true" id="projectIdNumber" nzColumnKey="projectIdNumber">Project ID Number</th>
        <th nzWidth="15%" [nzSortFn]="true" id="projectName" nzColumnKey="projectName">Project Name</th>
        <th nzWidth="15%" id="company">Company</th>
        <th nzWidth="35%" id="description">Description</th>
        <th nzWidth="10%" id="actions" nzAlign="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data.id) {
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td nzAlign="center"></td>
        <td class="table-action-buttons" nzAlign="center">
          <button class="edit-button" nz-button nzType="link">
            <nz-icon nzType="edit" nzTheme="outline" />
          </button>
          <button class="delete-button" nz-button nzType="link" nzDanger>
            <nz-icon nzType="delete" nzTheme="outline" />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>

<ng-template #rangeTemplate let-range="range" let-total>
  @if (total && dataList().length > 0) { Showing
  {{ (dataTable().page - 1) * dataTable().pageSize + 1 }}
  to
  {{ (dataTable().page - 1) * dataTable().pageSize + dataList().length }}
  of {{ total }}
  {{ total | i18nPlural : { '=1': 'project', other: 'projects' } }}
  } @else { Showing 0 of 0 projects }
</ng-template>
