:host {
  nz-card {
    min-width: 358px;
    min-height: 314px;
    background-color: var(--pm-grey);
    border-radius: 24px;

    .card-title {
      font-size: 20px;
      line-height: 28px;
    }

    .upcoming-deadlines-content {
      line-height: 20px;
      display: flex;
      flex-direction: column;

      span {
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 3440px) {
  nz-card {
    height: 600.297px;
    border: 1px solid black;
  }
}
