<div class="table-container">
  <nz-table #table class="table" nzTableLayout="fixed" [nzData]="tableData()">
    <thead class="">
      <tr>
        <th nzWidth="15%">Project Name</th>
        <th nzWidth="30%">Description</th>
        <th nzWidth="15%" nzAlign="center">Progress</th>
        <th nzWidth="15%" nzAlign="center">Due Date</th>
        <th nzWidth="10%" nzAlign="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data) {
        <tr>
          <td>{{ data.projectName }}</td>
          <td
            #description
            class="description"
            nzEllipsis
            nz-tooltip
            nzTooltipPlacement="top"
            [nzTooltipTitle]="showTooltipDescription ? data.description : null"
            [nzTooltipVisible]="false"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipOverlayStyle]="{
              'max-width': '600px',
              'white-space': 'normal',
              'word-break': 'break-word'
            }"
            (mouseenter)="checkOverflow(description)"
          >
            {{ data.description }}
          </td>
          <td nzAlign="center">{{ data.progress }}</td>
          <td nzAlign="center">{{ data.dueDate }}</td>
          <td class="action-buttons" nzAlign="center">
            <button class="edit-button" nz-button nzType="link" (click)="edit(data.projectIdNumber)">
              <nz-icon nzType="edit" nzTheme="outline" />
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button class="delete-button" nz-button nzType="link" nzDanger>
              <nz-icon nzType="delete" nzTheme="outline" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
