:host {
  .filter-container {
    padding-top: 34px;
    display: flex;
    justify-content: end;
  }

  .table-container {
    padding-top: 14px;

    .description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    nz-tag {
      font-weight: 500;
    }
  }
}
