<div class="table-container">
  <nz-table #table class="table" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[10, 20, 30, 40, 50]">
    <thead>
      <tr>
        <th nzWidth="15%" [nzSortFn]="true" id="name" nzColumnKey="name">Name</th>
        <th nzWidth="15%" [nzSortFn]="true" id="email" nzColumnKey="email">Email</th>
        <th nzWidth="15%" id="company">Company</th>
        <th nzWidth="15%" id="role" nzAlign="center">Role</th>
        <th nzWidth="10%" id="isPublished" nzAlign="center">Status</th>
        <th nzWidth="15%" id="createdAt" nzAlign="center" [nzSortFn]="true" nzColumnKey="createdAt">Date Joined</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data.id) {
      <tr>
        <td></td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
