<nz-card>
  <form nz-form [formGroup]="registerForm" class="register-form">
    <h1 class="register-heading">Create Your Account</h1>
    <nz-form-label nzNoColon="true"> Name </nz-form-label>
    <nz-form-control nzErrorTip="Please input your Name!">
      <nz-input-wrapper>
        <input type="text" nz-input formControlName="name" nzSize="large" />
      </nz-input-wrapper>
    </nz-form-control>
    <nz-form-label nzNoColon="true"> Email </nz-form-label>
    <nz-form-control nzErrorTip="Please input your Email!">
      <nz-input-wrapper>
        <input type="text" nz-input formControlName="email" nzSize="large" />
      </nz-input-wrapper>
    </nz-form-control>
    <nz-form-label nzNoColon="true"> Password </nz-form-label>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-wrapper>
        <input nz-input formControlName="password" type="password" nzSize="large" />
      </nz-input-wrapper>
    </nz-form-control>
    <button
      nz-button
      class="register-form-button"
      [nzType]="'primary'"
      nzSize="large"
      nzShape="round"
    >
      Register
    </button>
    <div class="link-texts">
      <span nz-typography>
        Already have an account?
        <u>
          <a routerLink="/login"> Login Here </a>
        </u>
      </span>
    </div>
  </form>
</nz-card>
