:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  nz-alert {
    padding: 12px;
    width: 450px;
  }

  nz-card {
    background-color: var(--pm-secondary);
    border-radius: 24px;
    width: 500px;
    height: 458px;
    padding-left: 10px;
    padding-right: 10px;

    .register-form {
      .register-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
      }

      nz-form-control {
        padding-bottom: 12px;

        input {
          border-radius: 24px;
          height: 52px;
        }
      }

      .register-form-button {
        width: 100%;
        background-color: var(--pm-primary);
        height: 44px;
      }

      .link-texts {
        padding-top: 6px;
        text-align: center;

        a {
          color: #030303;
        }
      }
    }
  }
}
