:host {
  .layout-container {
    min-height: 100vh;
  }

  .header {
    height: 64px;
    background-color: var(--pm-primary);
  }

  .ant-layout-header {
    padding: 0 20px;
  }

  .side-bar {
    background-color: var(--pm-grey);
    padding-top: 24px;

    .sidebar-items {
      display: flex;
      flex-direction: column;
      height: 100%;

      .sider-menu {
        margin-bottom: auto;
        background-color: var(--pm-grey);

        nz-icon {
          padding-right: 10px;
        }

        .ant-menu-item:hover,
        .ant-menu-submenu-title:hover {
          background-color: transparent;
          color: var(--pm-primary);
        }

        .ant-menu-item-selected {
          background-color: transparent;
          color: var(--pm-primary);
        }

        .ant-menu-item-selected::after {
          border-right: none;
        }
      }

      .border-line {
        border-top: 2px solid var(--pm-primary);
        margin-right: 16px;
        margin-left: 16px;
      }

      .border-line-collapse-close {
        margin-right: 10px;
        margin-left: 10px;
      }

      .collapse-button-container {
        padding-bottom: 16px;
        padding-right: 16px;
        padding-top: 16px;
        display: flex;
        justify-content: end;

        button {
          font-size: 14px;
        }
      }

      .collapse-close {
        justify-content: center;
        padding-right: 0;
      }
    }
  }

  .content {
    padding: 28px;
  }

  .content-white {
    background-color: #fff;
  }
}
