:host {
  .container {
    .header {
      display: flex;
      align-items: center;
      padding-bottom: 34px;

      span {
        padding-right: 20px;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}
