:host {
  background-color: red;
  .assign-row {
    display: flex;
    justify-content: space-between;
  }

  .save-button {
    border-radius: 4px;
  }

  .history-button {
    color: var(--pm-primary);
  }

  .state-row {
    .state-form-item {
      .state-flex {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .create-edit-select-form {
    .ant-select-selector {
      border: none;
      border-radius: 8px;
      height: 35px;

      .ant-select-selection-wrap {
        width: 120px;
      }
    }
  }
}
