/* You can add global styles to this file, and also import other style files */
:root {
  --pm-primary: #840bdc;
  --pm-secondary: #e3cef2;
  --pm-grey: #d3d3d3;

  .ant-spin-dot-item {
    background-color: var(--pm-primary);
  }

  .ant-spin {
    color: var(--pm-primary);
  }

  .ant-alert-message {
    font-weight: 500;
  }

  .auth-alert {
    .ant-alert-error {
      border-radius: 24px;
    }
  }

  .register-success-modal {
    .ant-modal-content {
      border-radius: 24px;
    }

    .ant-modal-confirm-btns {
      button {
        width: 100%;
        background-color: var(--pm-primary);
        height: 34px;
        border-radius: 44px;
      }
    }
  }

  .ant-btn-primary {
    background-color: var(--pm-primary);
    border-color: var(--pm-primary);
  }

  .ant-btn-primary[disabled] {
    color: #fff;
    opacity: 0.5;
  }

  .ant-btn-primary[disabled]:hover {
    background-color: var(--pm-primary);
    border-color: var(--pm-primary);
  }

  .ant-table-thead > tr > th {
    background: var(--pm-primary);
    color: #fff;
  }

  .ant-pagination-item-active {
    background: #fff;
    border-color: var(--pm-primary);
    a {
      color: var(--pm-primary);
    }
  }
}
