/* You can add global styles to this file, and also import other style files */
:root {
  --pm-primary: #840bdc;
  --pm-secondary: #e3cef2;
  --pm-grey: #d3d3d3;
  --pm-green: #52c41a;
  --pm-muted-grey: #6c757d;

  .ant-spin-dot-item {
    background-color: var(--pm-primary);
  }

  .ant-spin {
    color: var(--pm-primary);
  }

  .ant-alert-message {
    font-weight: 500;
  }

  .pm-alert {
    padding-bottom: 24px;

    .ant-alert-error {
      border-radius: 24px;
    }
  }

  .register-success-modal {
    .ant-modal-content {
      border-radius: 24px;
    }

    .ant-modal-confirm-btns {
      button {
        width: 100%;
        background-color: var(--pm-primary);
        height: 34px;
        border-radius: 44px;
      }
    }
  }

  .ant-btn-primary {
    background-color: var(--pm-primary);
    border-color: var(--pm-primary);
  }

  .ant-btn-primary[disabled] {
    color: #fff;
    opacity: 0.5;
  }

  .ant-btn-primary[disabled]:hover {
    background-color: var(--pm-primary);
    border-color: var(--pm-primary);
  }

  .ant-table-thead > tr > th {
    background: var(--pm-primary);
    color: #fff;
  }

  .ant-pagination-item-active,
  .ant-pagination-item:hover {
    border-color: var(--pm-primary);
    a {
      color: var(--pm-primary);
    }
  }

  .create-modal {
    .ant-modal-content {
      border-radius: 24px;
    }

    .ant-modal-header {
      border-radius: 24px;
      .ant-modal-title {
        color: #840bdc;
      }
    }
  }

  .portal-input-form,
  .portal-input-textarea-form {
    border-color: var(--pm-primary);
    border-radius: 10px;
  }

  .portal-input-form {
    height: 52px;
  }

  .portal-input-label {
    label {
      color: var(--pm-primary);
      font-weight: 500;
    }
  }

  .form-notification {
    background-color: #52c41a;
    color: #fff;

    nz-icon {
      color: #fff;
    }

    .ant-notification-notice-message {
      color: #fff;
    }
  }

  .input-search {
    border-color: var(--pm-primary);
    border-radius: 8px;
    height: 35px;
  }

  .reset-search-button {
    height: 35px;
    border-radius: 8px;
  }

  .select-search {
    .ant-select-selector {
      border-color: var(--pm-primary);
      border-radius: 8px;
      height: 35px;

      .ant-select-selection-wrap {
        width: 120px;
      }
    }
  }

  .ant-table-thead th.ant-table-column-has-sorters:hover {
    background-color: var(--pm-primary);
  }

  .table-action-buttons {
    nz-divider {
      border-color: var(--pm-primary);
    }

    .edit-button {
      color: #1890ff;
    }
  }
}
