<div class="table-container">
  <nz-table #table class="table" [nzData]="listOfData">
    <thead class="">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data) {
        <tr>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td class="action-buttons">
            <button class="edit-button" nz-button nzType="link">
              <nz-icon nzType="edit" nzTheme="outline" />
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button class="delete-button" nz-button nzType="link" nzDanger>
              <nz-icon nzType="delete" nzTheme="outline" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
