<div class="table-container">
  <nz-table #table class="table" nzTableLayout="fixed" [nzData]="dataList() || []" [nzShowPagination]="true"
    [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzShowTotal]="rangeTemplate"
    [nzPageSizeOptions]="[10, 20, 30, 40, 50]" [nzTotal]="dataTable().totalCount" [nzPageSize]="dataTable().pageSize"
    [nzLoading]="loading()">
    <thead>
      <tr>
        <th nzWidth="15%">Task ID Number</th>
        <th nzWidth="15%">Task Name</th>
        <th nzWidth="15%" nzAlign="center">State</th>
        <th nzWidth="15%" nzAlign="center">Assigned To</th>
        <th nzWidth="10%" nzAlign="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data.id) {
      <tr>
        <td>{{ data.taskIdNumber }}</td>
        <td>{{ data.taskName }}</td>
        <td nzAlign="center">
          <nz-tag [nzColor]="data.stateColor">{{ data.stateLabel }}</nz-tag>
        </td>
        <td nzAlign="center">{{ data.assignedTo }}</td>
        <td class="table-action-buttons" nzAlign="center">
          <button class="edit-button" nz-button nzType="link">
            <nz-icon nzType="edit" nzTheme="outline" />
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button class="delete-button" nz-button nzType="link" nzDanger>
            <nz-icon nzType="delete" nzTheme="outline" />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>

<ng-template #rangeTemplate let-range="range" let-total>
  @if (total && dataList().length > 0) { Showing
  {{ (dataTable().page - 1) * dataTable().pageSize + 1 }}
  to
  {{ (dataTable().page - 1) * dataTable().pageSize + dataList().length }}
  of {{ total }}
  {{ total | i18nPlural : { '=1': 'project', other: 'projects' } }}
  } @else { Showing 0 of 0 projects }
</ng-template>
