:host {
  .filter-container {
    display: flex;
    justify-content: end;
  }

  .table-container {
    padding-top: 14px;
    padding-bottom: 14px;

    nz-tag {
      font-weight: 500;
    }
  }
}
